<%= content_for(:sidebar) do %>
<%= render partial: "layouts/sidebar", locals: {account: current_account} %>
<% end -%>
<div class="col-md-10 main">
	<h2>Add new Staff</h2>
	<%= form_with(model: @account, url: new_staff_path, id: "newStaff") do |form| %>
	
		<div class="add-lead-main">
			<div class="add-lead-left">
				<div class="lead-bo">
					<h5 style="margin: 20px 20px 0px 25px;">Personal Details </h5>
					<div class="border-x"></div>
					<div class="add-lead-center"> 
						
						<div class="form-group">
							<%= form.label :staff_name, "Name" %>
							<%= form.text_field :staff_name, class:"form-control", placeholder: "Name"%>
						</div>
						<div class="form-group">
							<%= form.label :staff_phone, "Phone" %>
							<%= form.text_field :staff_phone, class:"form-control", placeholder: "Phone"%>
						</div>
						<div class="mb-3 form-group">
							<%= form.label :staff_street, "Street" %>
							<%= form.text_area :staff_street, class:"form-control", placeholder: "Street"%>
						</div>
						<div class="form-group">
							<%= form.label :staff_city, "City" %>
							<%= form.text_field :staff_city, class:"form-control", placeholder: "City"%>
						</div>
						<div class="form-group">
							<%= form.label :staff_age, "Age" %>
							<%= form.text_field :staff_age, class:"form-control", placeholder: "Age"%>
						</div>
					</div>
				</div>	
				<br>
			</div>


		<div class="add-lead-right"> 
			<div class="lead-bo">
				<h5 style="margin: 20px 20px 0px 25px;">SignUp</h5>
				<div class="border-x" ></div>
				<div class="add-lead-center">		
					<div class="form-group">
						<%= form.label :staff_email, "Email" %>
						<%= form.text_field :staff_email, class:"form-control", placeholder: "Email"%>
					</div>
					<div class="form-group">
						<%= form.label :staff_password, "Password" %>
						<%= form.password_field :staff_password, class:"form-control", placeholder: "Password"%>
					</div>
				</div>
			</div>
			<br>

			<div class="lead-bo">
				<h5 style="margin: 20px 20px 0px 25px;">Staff Role Acess </h5>
				<div class="border-x" ></div>
				<div class="add-lead-center">
					<div class="select-20">
						<%= form.label :Designation, "Designation" %>
						<%= form.select(:designation, UserRole.all.collect {|role| [ role.name, role.name ] }, {}, { :class => 'form-control' }) %>
					</div>
				</div>
			</div>
			<div style="clear: left; margin-bottom: 50px;"></div>
			<center><button type="button" class="btn btn-success" id="btn_edit_staff">Save</button>
				<%= link_to staffs_path do %>	
						<button type="button" class="btn btn-secondary btn-sm"> Back</button>	
				<% end %>
			</center>
		</div>
	<% end %>
</div>
<script type="text/javascript">
	$("#btn_edit_staff").click(function(){
		var error = false;
		var msg = "" 
	    if ($("#account_staff_password").val().length < 6 ){
	    	error = true;
	    	msg += 'Password must be minimum 6 characters!\n';
	    }
	    if ($("#account_staff_phone").val().length == 0 ){
    		error = true;
			msg += 'Fill up the phone field!\n';
	    }
		if ($("#account_staff_name").val().length == 0) {
			error = true;
	    	msg += 'Fill up the name field!';
	    }
		if (!error) {
		    $("#newStaff").submit();
	    }
	    else {
	    	alert(msg);
	    }
  });
</script>