<%= content_for(:sidebar) do %>
<%= render :partial => "layouts/sidebar" %>
<% end -%>
<div class="col-md-10 main">
	<div class="lead-p-main">
		<div class="lead-p-left">
			<div class="lead-bo">
				<div class="lead-p-center">

					<h3><b><%= @lead.name %></b></h3>
					<center><img src="https://infofinance.vn/wp-content/uploads/2020/09/bieu-tuong-y-nghia-lo-go-cua-ngan-hang-quan-doi-MB-Bank...jpg" class="img-thumbnail" ></center>
					<p><i class="fas fa-phone-alt"></i> Phone: <b><%= @lead.phone %></b></p>
					<p><i class="fas fa-briefcase"></i> Email: <b><%= @lead.email %></b></p>
					<div class="border-x"></div>

					<div class="d-grid gap-1">
						<center>
							<%= link_to customer_path(@lead.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-user"></i> Profile</button></center>
							<% end -%>
						<center>
							<%= link_to contact_lead_path(@lead.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-briefcase"></i> Contacts</button>
							<% end -%>
						</center>
						<center>
							<%= link_to call_lead_path(@lead.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-phone-alt"></i> Calls</button>
							<% end -%>
						</center>
						<center>
							<%= link_to appointment_lead_path(@lead.id) do %>
								<button class="btn btn-secondary active" type="button"><i class="fas fa-car"></i> Apointments</button>
							<% end -%>
						</center>
						<center>
							<%= link_to note_lead_path(@lead.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-sticky-note"></i> Notes</button>
							<% end -%>
						</center>
						<% if @lead.customer_role_id == 2 %>
							<center>
								<%= link_to proposal_lead_path(@lead.id) do %>
									<button class="btn btn-secondary" type="button"><i class="fas fa-file-signature"></i> Proposals</button>
								<% end -%>
								<%= link_to invoice_lead_path(@lead.id) do %>
									<button class="btn btn-secondary" type="button"><i class="fas fa-file-invoice"></i> Invoices</button>
								<% end -%>
							</center>
						<% end -%>
					</div>

				</div>
			</div>
		</div>
		<div class="lead-p-right">
			<div class="lead-top-title">
				<h2>Appointments to 
					<% if @customer %>
						<%= @customer.name %>
					<% else %>
						<%= @lead.name %>
					<% end -%>
				</h2>
				<button style="float:right;margin-right: 30px ;" type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#form_new_app"><i class="fas fa-plus"></i>Add New Appointment</button>
			</div>
			<div class="lead-contact-content">
				<table class="lead-proposal-table">
					<thead>
						<tr>
							<th scope="col">Appointments Details</th>
						</tr>
					</thead>
					<tbody>
						<% @appointments.each do |appointment| %>
							<tr>
								<td>
									<span>Appointment With <b><%= @lead.get_staff_name %></b> on <b><%= appointment.date.strftime('%a, %d %B %Y %H:%M %p')%></b></span>
									<span>Dear <b><%= @lead.name %></b>,</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<button type="button" class="btn btn-success btn-sm"><i class="fas fa-eye"></i> View Details</button>
									<button type="button" class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Delete</button>
									<button type="button" class="btn btn-warning btn-sm"><i class="fas fa-envelope-square"></i> Send Email</button>
								</td>
							</tr>
						<% end -%>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="form_new_app" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Add Appointment</h4>
			</div>
			<div class="modal-body">
				<%= form_with(model: @contact, url: new_lead_contact_path(@lead.id)) do |form| %>
		      <%= form.hidden_field :customer_id, value: @lead.id %>
					<div class="mb-3 form-group">
			      <%= form.label :name, "Appointment Date & Time" %>
			      <%= form.date_field :name, class:"form-control"%>
			    </div>
			    <div class="mb-3 form-group">
			    	<%= form.label :name, "Appointment With Contact" %>
			      <select class="form-select form-control" aria-label="Default select example">
						  <option selected disabled="">Select a contact</option>
						  <option value="1">Contact 1</option>
						  <option value="2">Contact 2</option>
						</select>
			    </div>
			    <div class="mb-3 form-group">
			      <%= form.label :email, "Subject" %>
			      <%= form.email_field :email, class:"form-control", Value: "Reminder - Your appointment on ..."%>
			    </div>
			    <div class="mb-3 form-group">
			      <%= form.text_area :notes, rows: 10,class:"form-control", value: "Dear ..., \nWe wanted to remind you that you have an appointment with ... on [date]. As always, please let us know if there is anything more we can do for you. You may call us at [company-phone] with any question or special requests.\n\n Warm regards,\n[company-name]" %>
			    </div>
			    <div class="mb-3 form-group">
			      <%= form.submit "Add", class: "btn btn-success" %>
			    </div>
				<% end -%>
			</div>
		</div>
	</div>
</div>

