<%= content_for(:sidebar) do %>
<%= render :partial => "layouts/sidebar" %>
<% end -%>
<div class="col-md-10 main">
	<div class="add-lead-main">
		<%= form_with(model: @lead, url: update_lead_path(params[:id])) do |form| %>
		<div class="add-lead-left">
			<div class="lead-bo">
				<h5 style="margin: 20px 20px 0px 25px;">Company Details </h5>
				<div class="border-x"></div>
				<div class="add-lead-center"> 
					<div class="form-group">
						<%= form.label :name, "Company/Name" %>
						<%= form.text_field :name, class:"form-control", placeholder: "Company/Name" %>
					</div>
					<div class="form-group">
						<%= form.label :phone, "Phone" %>
						<%= form.text_field :phone, class:"form-control", placeholder: "Phone"%>
					</div>
					<div class="form-group">
						<%= form.label :email, "Email" %>
						<%= form.email_field :email, class:"form-control", placeholder: "Email"%>
					</div>
					<div class="form-group">
						<%= form.label :website, "Website" %>
						<%= form.text_field :website, class:"form-control", placeholder: "Website"%>
					</div>
					<div class="form-group">
						<%= form.label :detail_address, "Detail Address" %>
						<%= form.text_field :detail_address, class:"form-control", placeholder: "Detail Address"%>
					</div>
					<div class="form-group">
						<%= form.label :city, "City" %>
						<%= form.text_field :city, class:"form-control", placeholder: "City"%>
					</div>
				</div>
			</div>	
		</div>
		<div class="add-lead-right"> 
			<div class="lead-bo">
				<h5 style="margin: 20px 20px 0px 25px;">Lead Details </h5>
				<div class="border-x" ></div>
				<div class="add-lead-center">
					<div style="height: 415px;"> 
						<div class="mb-3 form-group">
							<%= form.label :source, "Source" %>
							<%= form.select(:source, ['Google', 'Facebook', 'Twitter', 'Skype'], {}, { :class => 'form-control' }) %>
						</div>

						<div class="mb-3 form-group">
						<%= form.label :staff_id, "Assigned To" %>
							<select class="form-control" aria-label=".form-select-sm example" id="staff_select">
								<option selected disabled>Select A Staff Member</option>
								<% @staffs.each do |staff| %>
									<option value="<%= staff.id %>"><%= staff.get_name %></option>
								<% end -%>
							</select>
							<%= form.hidden_field :staff_id, id:"f_staff_id" %>
						</div>

						<div class="mb-3 form-group">
							<%= form.label :note, "Note" %>
							<%= form.text_area :note, class:"form-control", placeholder: "Note", style:" min-height: 130px"%>
						</div>
										
						<div class="mb-3 form-group">
							<%= form.label :status, "Source" %>
							<%= form.select(:status, ['New', 'Familar'], {}, { :class => 'form-control' }) %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="clear: left; margin-bottom: 50px;"></div>
		<div class="mb-3 form-group">
			<center><%= form.submit "Save", class: "btn btn-success" %>
			<%= link_to customers_path do %>	
					<button type="button" class="btn btn-secondary btn-sm"> Back</button>	
			<% end %>	
			</center>
		</div>
		<% end -%>
	</div>
</div>
<script type="text/javascript">
	$('#staff_select').on('change', function() {
	  $("#f_staff_id").val(this.value);
	});
	$('#status_select').on('change', function() {
	  $("#f_status").val(this.value);
	});
</script>
