<%= content_for(:sidebar) do %>
	<%= render :partial => "layouts/sidebar" %>
<% end -%>
<div class="col-md-10 main">
	<div class="lead-p-main">
		<div class="lead-p-left">
			<div class="lead-bo">
				<div class="lead-p-center">
					<h3><b><%= @lead.name %></b></h3>
					<center><img src="https://infofinance.vn/wp-content/uploads/2020/09/bieu-tuong-y-nghia-lo-go-cua-ngan-hang-quan-doi-MB-Bank...jpg" class="img-thumbnail" ></center>
					<p><i class="fas fa-phone-alt"></i> Phone: <b><%= @lead.phone %></b></p>
					<p><i class="fas fa-briefcase"></i> Email: <b><%= @lead.email %></b></p>
					<div class="border-x"></div>

					<div class="d-grid gap-1">
						<center>
							<%= link_to lead_path(@lead.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-user"></i> Profile</button></center>
							<% end -%>
						<center>
							<%= link_to contact_lead_path(@lead.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-briefcase"></i> Contacts</button>
							<% end -%>
						</center>
						<center>
							<%= link_to call_lead_path(@lead.id) do %>
								<button class="btn btn-secondary " type="button"><i class="fas fa-phone-alt"></i> Calls</button>
							<% end -%>
						</center>
						<center>
							<%= link_to appointment_lead_path(@lead.id) do %>
								<button class="btn btn-secondary active" type="button"><i class="fas fa-car"></i> Apointments</button>
							<% end -%>
						</center>
						<center>
							<%= link_to note_lead_path(@lead.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-sticky-note"></i> Notes</button>
							<% end -%>
						</center>
						<% if @lead.customer_role_id == 2 %>
							<center>
								<%= link_to proposal_lead_path(@lead.id) do %>
									<button class="btn btn-secondary" type="button"><i class="fas fa-file-signature"></i> Proposals</button>
								<% end -%>
								<%= link_to invoice_lead_path(@lead.id) do %>
									<button class="btn btn-secondary" type="button"><i class="fas fa-file-invoice"></i> Invoices</button>
								<% end -%>
							</center>
						<% end -%>
					</div>

				</div>
			</div>
		</div>
		<div class="lead-p-right">
			<div class="lead-top-title">
				<h2>Edit <%= @lead.name %>'s Appointment</h2>
			</div><br>
			<div class="lead-contact-content">
				<div class="col-md-10 col-md-offset-1">
					<%= form_with(model: @appointment, url: edit_lead_appointment_path(@lead.id, @appointment.id)) do |form| %>
		      <%= form.hidden_field :customer_id, value: @lead.id %>
		      <%= form.hidden_field :lead_name, value: @lead.name %>
		      <%= form.hidden_field :staff_name, value: @lead.get_staff_name %>
		      <%= form.hidden_field :staff_phone, value: @lead.get_staff_phone %>
					<div class="mb-3 form-group">
			      <%= form.label :datetime, "Appointment Date & Time" %>
			      <%= form.datetime_field :datetime, class:"form-control", 
			      	value: @appointment.date.strftime("%FT%R") %>
			    </div>
			    <div class="mb-3 form-group">
			    	<%= form.label :contact_id, "Appointment With Contact" %>
			      <select class="form-select form-control" aria-label="Default select example" id="f_contact">
						  <% @contacts.each do |contact| %>
						  	<% if contact.id == @appointment.contact_id %>
						  		<option selected value="<%= contact.id %>"><%= contact.name %></option>
					  		<% else %>
							  	<option value="<%= contact.id %>"><%= contact.name %></option>
						  	<% end -%>
						  <% end -%>
						</select>
						<%= form.hidden_field :contact_id, id:"f_contact_id" %>
			    </div>
			    <div class="mb-3 form-group">
			      <%= form.label :subject, "Subject" %>
			      <%= form.text_field :subject, class:"form-control", Value: @appointment.subject%>
			    </div>
			    <div class="mb-3 form-group">
			      <%= form.text_area :notes, rows: 10,class:"form-control", value: @appointment.content %>
			    </div>
			    <div class="mb-3 form-group">
			      <%= form.submit "Update", class: "btn btn-success" %>
			    </div>
				<% end -%>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var dates = '';
	var time = '';
	var lead_contact = '';
	var staff_phone = '';
	var content = "";

	$('#appointment_datetime').change(function(){
		var date = new Date(this.value);
		dates = date.getDate() + '/' + (date.getMonth()+1) + '/' + date.getFullYear();
		time = date.getHours() + ':' + date.getMinutes();
		content = "Dear "+ $('#appointment_lead_name').val()
			+", \nWe wanted to remind you that you have an appointment with " + $('#appointment_staff_name').val()
			+" on "+ dates +" at " + time
			+". As always, please let us know if there is anything more we can do for you. You may call us at "
			+ $('#appointment_staff_phone').val() + " with any question or special requests.\n\n Warm regards,\n[company-name]";
		$('#appointment_notes').val(content);
		subject = 'Reminder - Your appointment on ' + dates +" at " + time;
		$('#appointment_subject').val(subject);
	});

	$('#f_contact').change(function(){
		lead_contact = $('#f_contact').find(":selected").text();
		contact_id = $('#f_contact').find(":selected").val();
		$('#f_contact_id').val(contact_id);
		content = "Dear "+ $('#appointment_lead_name').val()
			+", \nWe wanted to remind you that you have an appointment with " + $('#appointment_staff_name').val()
			+" on "+ dates +" at " + time
			+". As always, please let us know if there is anything more we can do for you. You may call us at "
			+ $('#appointment_staff_phone').val() + " with any question or special requests.\n\n Warm regards,\n[company-name]";
		$('#appointment_notes').val(content);
	});
</script>
