<%= content_for(:sidebar) do %>
<%= render partial: "layouts/sidebar", locals: {account: current_account} %>
<% end -%>
<div class="col-md-10 main">
	<div class="list-lead-main">
		<div class="lead-bo">
			
			<br><h3 style="margin-left: 30px;display: inline;">Manage Leads </h3>			
			<%= link_to new_lead_2_path(1) do %>
				<button style="float:right;margin-right: 30px ;" type="button" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Add New Lead</button>
			<% end -%>
			<div class="import_lead_box">
				<%= form_tag import_excel_leads_path, multipart: true do %>
			    <%= file_field_tag :file %>
			    <%= submit_tag "Import Leads", class: "btn btn-success btn-sm" %>
				<% end %>
			</div>
			<div class="border-x"></div>
			<div style="float:right;margin-right: 30px; width: auto;border: 1px solid black;">
	  			<%= sort_link(@q, :name) do %>
			  		<strong style="color:black;margin: 10px; ">Sort by name</strong>
				<% end %>
			</div>
			<div>
				<center>
					<table>
				  <tr> 
				    <th>
				    	<%= sort_link(@q, :city) do %>
					  				<strong style="color:white;"> Leads</strong>
							<% end %>
				    	<span style="float:right;margin-right: 30px;">
				    		<div class="form-inline my-2 my-lg-0">
					    		  <%= search_form_for @q, url: leads_path do |f| %>
								    <%= f.search_field :name_cont, placeholder: "Lead Name ...", class:"search-field form-control"%>
								    <%= f.submit "Search", class: "btn btn-search" %>
								  <% end -%>
					    	</div>
				    	</span>
				    </th>
				  </tr>
				  <% @leads.each do |lead|%>
					  <tr>
					    <td>
					    	<%= lead.name %><br>
					    	<%= lead.phone %><br>
					    	<%= lead.detail_address %><br>
					    	<span>
					    		<div class="btn-mini">
					    			<%= link_to lead_path(lead.id) do %>
					    				<button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-eye"></i> View Details</button>
						    		<% end -%>
						    		<%= link_to edit_lead_path(lead.id) do %>
					    				<button type="button" class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i> Edit</button>
						    		<% end -%>
						    		<%= link_to to_customer_path(lead.id), method: :patch, data:{confirm:'Convert this lead to customer?'} do %>
							    		<button type="button" class="btn btn-success btn-sm">
							    			<i class="fas fa-exchange-alt"></i> Convert to Customer
							    		</button>
						    		<% end -%>
						    		<%= link_to delete_lead_path(lead.id), method: :delete, data:{confirm:'Delete this lead?'} do %>
							    		<button type="button" class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Delete</button>
						    		<% end -%>
					    		</div>	
					    	</span>
					  	</td>
					  </tr>
				  <% end -%>

					</table>
				</center>
				

			</div>

		</div>
	</div>
</div>