<%= content_for(:sidebar) do %>
<%= render partial: "layouts/sidebar", locals: {account: current_account, tab: "lead"} %>
<% end -%>
<div class="col-md-10 main">
	<div class="add-lead-main">
		<%= form_with(model: @customer, url: new_lead_2_path(params[:role])) do |form| %>
		<div class="add-lead-left">
			<div class="lead-bo">
				<h5 style="margin: 20px 20px 0px 25px;">Company Details </h5>
				<div class="border-x"></div>
				<div class="add-lead-center"> 
					<div class="form-group">
						<%= form.label :name, "Company/Name" %>
						<%= form.text_field :name, class:"form-control", placeholder: "Company/Name"%>
					</div>
					<div class="form-group">
						<%= form.label :phone, "Phone" %>
						<%= form.text_field :phone, class:"form-control", placeholder: "Phone"%>
					</div>
					<div class="form-group">
						<%= form.label :email, "Email" %>
						<%= form.email_field :email, class:"form-control", placeholder: "Email"%>
					</div>
					<div class="form-group">
						<%= form.label :website, "Website" %>
						<%= form.text_field :website, class:"form-control", placeholder: "Website"%>
					</div>
					<div class="form-group">
						<%= form.label :detail_address, "Detail Address" %>
						<%= form.text_field :detail_address, class:"form-control", placeholder: "Detail Address"%>
					</div>
					<div class="form-group">
						<%= form.label :city, "City" %>
						<%= form.text_field :city, class:"form-control", placeholder: "City"%>
					</div>
				</div>
			</div>	
		</div>
		<div class="add-lead-right"> 
			<div class="lead-bo">
				<h5 style="margin: 20px 20px 0px 25px;">Primary Contact</h5>
				<div class="border-x" ></div>
				<div class="add-lead-center"> 
					<div class="form-group">
						<%= form.label :contact_name, "Name" %>
						<%= form.text_field :contact_name, class:"form-control", placeholder: "Name"%>
					</div>
					<div class="form-group">
						<%= form.label :contact_phone, "Phone" %>
						<%= form.text_field :contact_phone, class:"form-control", placeholder: "Phone"%>
					</div>
					<div class="form-group">
						<%= form.label :contact_email, "Email" %>
						<%= form.text_field :contact_email, class:"form-control", placeholder: "Email"%>
					</div>
					<div class="form-group">
						<%= form.label :designation, "Designation" %>
						<%= form.text_field :designation, class:"form-control", placeholder: "Designation"%>
					</div>
					<div class="form-group">
						<%= form.label :contact_note, "Note" %>
						<%= form.text_field :contact_note, class:"form-control", placeholder: "Note"%>
					</div>
				</div>
			</div>
			<br>
			<div class="lead-bo">
				<h5 style="margin: 20px 20px 0px 25px;">Lead Details </h5>
				<div class="border-x" ></div>
				<div class="add-lead-center">
					<div class="mb-3 form-group">
						<%= form.label :source, "Source" %>
						<select class="form-control" aria-label=".form-select-sm example" id="source_select">
							<option selected disabled>Select A Source</option>
							<option value="Google">Google</option>
							<option value="Facebook">Facebook</option>
							<option value="Twitter">Twitter</option>
							<option value="Skype">Skype</option>
						</select>
						<%= form.hidden_field :source, id:"f_source" %>
					</div>
					<div class="mb-3 form-group">
						<%= form.label :staff_id, "Assigned To" %>
						<select class="form-control" aria-label=".form-select-sm example" id="staff_select">
							<% @staffs.each do |staff| %>
								<% if staff.id == 1 %>
									<option selected value="<%= staff.id %>"><%= staff.get_name + ' (' + staff.designation + ')' %></option>
								<% else %>
									<option value="<%= staff.id %>"><%= staff.get_name + ' (' + staff.designation + ')'%></option>
								<% end %>
							<% end -%>
						</select>
						<%= form.hidden_field :staff_id, id:"f_staff_id" %>
					</div>
					<div class="mb-3 form-group">
						<%= form.label :notes, "Note" %>
						<%= form.text_area :notes, class:"form-control", placeholder: "Note"%>
					</div>
					<div class="mb-3 form-group">
						<%= form.label :status, "Status" %>
						<select class="form-control"  id="status_select" >
							<option selected value="New">New</option>
							<option value="Familar">Familar</option>
						</select>
						<%= form.hidden_field :status, id:"f_status" %>
					</div>
				</div>
			</div>
		</div>
		<div style="clear: left; margin-bottom: 50px;"></div>
		<div class="mb-3 form-group">
			<center>
				<%= form.submit "Save", class: "btn btn-success" %>
				<%= link_to leads_path do %>	
					<button type="button" class="btn btn-secondary btn-sm"> Back</button>	
				<% end %>	
			</center>
		</div>
		<% end -%>
	</div>
</div>
<script type="text/javascript">
	$( document ).ready(function() {
		$("#f_status").val($("#status_select").val());
	});
	$('#source_select').on('change', function() {
	  $("#f_source").val(this.value);
	});
	var c = $('#staff_select').find(":selected").val();
	$("#f_staff_id").val(c);
	$('#staff_select').on('change', function() {
	  $("#f_staff_id").val(this.value);
	});
	$('#status_select').on('change', function() {
	  $("#f_status").val(this.value);
	});
</script>
