<%= content_for(:sidebar) do %>
	<%= render :partial => "layouts/sidebar" %>
<% end -%>
<div class="col-md-10 main">
	<div class="lead-p-main">
		<div class="lead-p-left">
			<div class="lead-bo">
				<div class="lead-p-center">
					<h3><b><%= @lead.name %></b></h3>
					<center><img src="https://infofinance.vn/wp-content/uploads/2020/09/bieu-tuong-y-nghia-lo-go-cua-ngan-hang-quan-doi-MB-Bank...jpg" class="img-thumbnail" ></center>
					<p><i class="fas fa-phone-alt"></i> Phone: <b><%= @lead.phone %></b></p>
					<p><i class="fas fa-briefcase"></i> Email: <b><%= @lead.email %></b></p>
					<div class="border-x"></div>

					<div class="d-grid gap-1">
						<center>
							<%= link_to customer_path(@lead.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-user"></i> Profile</button></center>
							<% end -%>
						<center>
							<%= link_to contact_lead_path(@lead.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-briefcase"></i> Contacts</button>
							<% end -%>
						</center>
						<center>
							<%= link_to call_lead_path(@lead.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-phone-alt"></i> Calls</button>
							<% end -%>
						</center>
						<center>
							<%= link_to appointment_lead_path(@lead.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-car"></i> Apointments</button>
							<% end -%>
						</center>
						<center>
							<%= link_to note_lead_path(@lead.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-sticky-note"></i> Notes</button>
							<% end -%>
						</center>
						<% if @lead.customer_role_id == 2 %>
							<center>
								<%= link_to proposal_lead_path(@lead.id) do %>
									<button class="btn btn-secondary active" type="button"><i class="fas fa-file-signature"></i> Proposals</button>
								<% end -%>
								<%= link_to invoice_lead_path(@lead.id) do %>
									<button class="btn btn-secondary" type="button"><i class="fas fa-file-invoice"></i> Invoices</button>
								<% end -%>
							</center>
						<% end -%>
					</div>

				</div>
			</div>
		</div>
		<div class="lead-p-right">
			<div class="lead-top-title">
				<h2>Proposals to 
					<% if @customer %>
						<%= @customer.name %>
					<% else %>
						<%= @lead.name %>
					<% end -%>
				</h2>
				<%= link_to new_lead_proposal_path(@lead.id) do %>
					<button style="float:right;margin-right: 30px ;" type="button" class="btn btn-success btn-sm"><i class="fas fa-plus"></i>Add New Proposal</button>
				<% end -%>
			</div>
			<div class="lead-contact-content">
				<table class="lead-proposal-table">
					<thead>
						<tr>
							<th scope="col">Proposal Details</th>
						</tr>
					</thead>
					<tbody>
						<% @proposals.each do |proposal| %>
							<tr>
								<td>
									<span>Subject: <b><%= proposal.subject %></b></span>
									<span>Date Start: <b><%= proposal.start_date.strftime("%d-%m-%Y") %></b></span>
									<span>Date End: <b><%= proposal.end_date.strftime("%d-%m-%Y") %></b></span>
									<span>Discount: <b><%= proposal.discount %>%</b></span>
									<span>Total: <b><%=  number_to_currency(proposal.total, :unit => "", :separator => ",", :delimiter => ".")  %></b></span>
									<span>Status: <b><%= proposal.status %></b></span>

									<%= link_to show_lead_proposal_path(@lead.id, proposal.id) do %>
										<button type="button" class="btn btn-success btn-sm"><i class="fas fa-eye"></i> View Details</button>
									<% end -%>
									<%= link_to edit_lead_proposal_path(@lead.id, proposal.id) do %>
										<button type="button" class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i> Edit</button>
									<% end -%>
									<%= link_to destroy_proposal_path(@lead.id, proposal.id), method: :delete, data:{confirm:'Delete this proposal?'} do %>
										<button type="button" class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Delete</button>
									<% end -%>
									<button type="button" class="btn btn-warning btn-sm btn_sendpro" data-toggle="modal" data-target="#form_new_app<%= proposal.id %>">
										<i class="fas fa-envelope-square"></i>
										 Send Email</button>
								</td>
							</tr>
							<div class="modal fade " id="form_new_app<%= proposal.id %>">>
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">Send proposal to email</h4>
										</div>
										<div class="modal-body">
											<%= form_with(model: @proposal, url: send_proposal_proposals_path) do |form| %>
												<%= form.hidden_field :proposal_id, value: proposal.id %>
												<div class="mb-3 form-group">
													<%= form.label :contact_id, "Appointment With Contact" %>
													<select class="form-select form-control f_contact" aria-label="Default select example" data-proid="<%= proposal.id %>">
														<option selected disabled="">Select a contact</option>
														<% @contacts.each do |contact| %>
														<option value="<%= contact.id %>"><%= contact.name %></option>
														<% end -%>
													</select>
													<%= form.hidden_field :contact_id, class:"f_contact_id", "data-proid" => proposal.id %>
												</div>
												<div class="mb-3 form-group">
													<%= form.submit "Send email", class: "btn btn-success" %>
												</div>
											<% end -%>
										</div>
									</div>
								</div>
							</div>
						<% end -%>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
  $('.f_contact').change(function(){
		var proid_select = parseInt($(this).data("proid"));

		var contact_id = $(".f_contact[data-proid="+proid_select+"]").find(":selected").val();
		$(".f_contact_id[data-proid="+proid_select+"]").val(contact_id);
		//$('.f_contact_id[name="'+proid_select+'"]').val(1);
	});
	
</script>
