<%= content_for(:sidebar) do %>
	<%= render :partial => "layouts/sidebar" %>
<% end -%>
<div class="col-md-10 main">
	<div class="lead-p-main">
		<div class="lead-p-left">
			<div class="lead-bo">
				<div class="lead-p-center">
					<h3><b><%= @lead.name %></b></h3>
					<center><img src="https://infofinance.vn/wp-content/uploads/2020/09/bieu-tuong-y-nghia-lo-go-cua-ngan-hang-quan-doi-MB-Bank...jpg" class="img-thumbnail" ></center>
					<p><i class="fas fa-phone-alt"></i> Phone: <b><%= @lead.phone %></b></p>
					<p><i class="fas fa-briefcase"></i> Email: <b><%= @lead.email %></b></p>
					<div class="border-x"></div>

					<div class="d-grid gap-1">
						<center>
							<%= link_to lead_path(@lead.id) do %>
								<button class="btn btn-secondary active" type="button"><i class="fas fa-user"></i> Profile</button></center>
							<% end -%>
						<center>
							<%= link_to contact_lead_path(@lead.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-briefcase"></i> Contacts</button>
							<% end -%>
						</center>
						<center>
							<%= link_to call_lead_path(@lead.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-phone-alt"></i> Calls</button>
							<% end -%>
						</center>
						<center>
							<%= link_to appointment_lead_path(@lead.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-car"></i> Apointments</button>
							<% end -%>
						</center>
						<center>
							<%= link_to note_lead_path(@lead.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-sticky-note"></i> Notes</button>
							<% end -%>
						</center>
					</div>

				</div>
			</div>
		</div>
		<div class="lead-p-right">
			<div class="lead-bo-p">
				<div class="lead-p-center">
					<h2><%= @lead.name %>'s Profile</h2>
					<div class="border-x"></div>
					<div class="table-f-bo">
						<table style="width:100%">
							<tr>
								<td style="width:20%">Name: </td>
								<td><%= @lead.name %></td>
							</tr>
							<tr>
								<td>Phone: </td>
								<td><%= @lead.phone %></td>
							</tr>
							<tr>
								<td>Email: </td>
								<td><%= @lead.email %></td>
							</tr>
							<tr>
								<td>Website:</td>
								<td><%= @lead.website %></td>
							</tr>
							<tr>
								<td>Street: </td>
								<td><%= @lead.detail_address %></td>
							</tr>
							<tr>
								<td>City: </td>
								<td><%= @lead.city %></td>
							</tr>
							<tr>
								<td>Country:</td>
								<td><%= @lead.city %></td>
							</tr>
							<tr>
								<td>Source:</td>
								<td><%= @lead.source %></td>
							</tr>
							<tr>
								<td>Assign To:</td>
								<td><%= @staff_acc.name %></td>
							</tr>
							<tr>
								<td>Comment:</td>
								<td><%= @lead.note %></td>
							</tr>
							<tr>
								<td>Status:</td>
								<td><%= @lead.status %></td>
							</tr>
						</table>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>