<%= content_for(:sidebar) do %>
<%= render partial: "layouts/sidebar",
	locals: {account: current_account, tab: 'home'} %>
<% end -%>
<div class="col-md-10 main">

	<div class="dashboard-main">
		<div class="dashboard-title">
			<h2>Dashboard</h2>
		</div>
		<div class="dashboard-content">
			<div class="dashboard-general">
				<h3>Welcome to Admin Panel</h3>
				<div>
					<ul class="dashboard-general-list">
						<% if current_account.get_designation == 'Manager' || current_account.get_designation == 'Seller' %>
						<li class="dashboard-general-item">
							<div style="display: inline-block;">
								<span class="dashboard-general-item-quan"><%= @total_product %></span>
								<span style="font-weight: 500;font-size: 20px;">Total Products</span>
							</div>
							<div class="dashboard-general-item-icon">
								<img src="https://cdn2.iconfinder.com/data/icons/e-commerce-line-4-1/1024/open_box4-512.png">
							</div>
						</li>
						<% end -%>
						<% if current_account.get_designation == 'Manager' || current_account.get_designation == 'Customer Officer' %>
						<li class="dashboard-general-item">
							<div style="display: inline-block;">
								<span class="dashboard-general-item-quan"><%= @total_lead %></span>
								<span style="font-weight: 500;font-size: 20px">Total Leads</span>
							</div>
							<div class="dashboard-general-item-icon">
								<img src="https://static.thenounproject.com/png/3632598-200.png">
							</div>
						</li>

						<li class="dashboard-general-item">
							<div style="display: inline-block;">
								<span class="dashboard-general-item-quan"><%= @total_customer %></span>
								<span style="font-weight: 500;font-size: 20px;">Total Customers</span>
							</div>
							<div class="dashboard-general-item-icon">
								<img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">
							</div>
						</li>
						<% end -%>
						<% if current_account.get_designation == 'Manager' || current_account.get_designation == 'Seller' %>
						<li class="dashboard-general-item">
							<div style="display: inline-block;">
								<span class="dashboard-general-item-quan"><%= @total_proposal %></span>
								<span style="font-weight: 500;font-size: 20px;">Total Proposals</span>
							</div>
							<div class="dashboard-general-item-icon">
								<img src="https://icon-library.com/images/get-a-quote-icon/get-a-quote-icon-15.jpg">
							</div>
						</li>
						<li class="dashboard-general-item">
							<div style="display: inline-block;">
								<span class="dashboard-general-item-quan"><%= @total_invoice %></span>
								<span style="font-weight: 500;font-size: 20px;">Total Invoices</span>
							</div>
							<div class="dashboard-general-item-icon">
								<img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/invoice-2074512-1748283.png">
							</div>
						</li>
						<% end -%>
					</ul>
				</div>
				<div>
					<ul class="dashboard-general-column">
						<% if current_account.get_designation == 'Manager' || current_account.get_designation == 'Customer Officer' %>
						<li class="dashboard-general-column-sec">
							<div class="dashboard-general-column-title">
								<span style="font-size: 22px;font-weight: 400;">Leads</span>
								<span style="font-size:11px;margin-left: 5px">Lastest 3</span>
							</div>
							<div>
								<ul style="padding: 0;">
									<% @leads.each do |lead| %>
										<%= link_to lead_path(lead.id) do %>
										<li class="dashboard-general-column-item">
											<div class="dashboard-general-column-item-date">
												<span style="font-weight:600; font-size: 27px;"><%= lead.created_at.strftime("%d") %></span>
												<span><%= lead.created_at.strftime("%a") %></span>
											</div>
											<div class="dashboard-general-item-content">
												<span style="font-weight: 700"><%= lead.name %></span>
												<span>Phone: <%= lead.phone %></span>
												<span><%= lead.email %></span>
											</div>
										</li>
										<% end -%>
									<% end -%>
								</ul>
							</div>
						</li>
						<li class="dashboard-general-column-sec">
							<div class="dashboard-general-column-title">
								<span style="font-size: 22px;font-weight: 400;">Customers</span>
								<span style="font-size:11px;margin-left: 5px">Lastest 3</span>
							</div>
							<div>
								<ul style="padding: 0;">
									<% @customers.each do |lead| %>
										<%= link_to customer_path(lead.id) do %>
										<li class="dashboard-general-column-item">
											<div class="dashboard-general-column-item-date">
												<span style="font-weight:600; font-size: 27px;"><%= lead.created_at.strftime("%d") %></span>
												<span><%= lead.created_at.strftime("%a") %></span>
											</div>
											<div class="dashboard-general-item-content">
												<span style="font-weight: 700"><%= lead.name %></span>
												<span>Phone: <%= lead.phone %></span>
												<span><%= lead.email %></span>
											</div>
										</li>
										<% end -%>
									<% end -%>
								</ul>
							</div>
						</li>
						<li class="dashboard-general-column-sec">
							<div class="dashboard-general-column-title">
								<span style="font-size: 22px;font-weight: 400;">Calls</span>
								<span style="font-size:11px;margin-left: 5px">Lastest 3</span>
							</div>
							<div>
								<ul style="padding: 0;">
									<% @calls.each do |call| %>
										<%= link_to edit_lead_call_path(call.customer_id, call.id) do %>
										<li class="dashboard-general-column-item">
											<div class="dashboard-general-column-item-date">
												<span style="font-weight:600; font-size: 27px;"><%= call.created_at.strftime("%d") %></span>
												<span><%= call.created_at.strftime("%a") %></span>
											</div>
											<div class="dashboard-general-item-content">
												<span style="font-weight: 700">Call to: <%= call.get_customer_name %></span>
												<span>Assigned to: <%= call.get_staff_name %></span>
												<span><%= call.description %></span>
											</div>
										</li>
										<% end -%>
									<% end -%>
								</ul>
							</div>
						</li>
						<% end -%>
						<% if current_account.get_designation == 'Manager' || current_account.get_designation == 'Seller' %>
						<li class="dashboard-general-column-sec">
							<div class="dashboard-general-column-title">
								<span style="font-size: 22px;font-weight: 400;">Proposals</span>
								<span style="font-size:11px;margin-left: 5px">Lastest 3</span>
							</div>
							<div>
								<ul style="padding: 0;">
									<% @proposals.each do |proposal| %>
										<%= link_to show_lead_proposal_path(proposal.customer_id, proposal.id) do %>
										<li class="dashboard-general-column-item">
											<div class="dashboard-general-column-item-date">
												<span style="font-weight:600; font-size: 27px;"><%= proposal.created_at.strftime("%d") %></span>
												<span><%= proposal.created_at.strftime("%a") %></span>
											</div>
											<div class="dashboard-general-item-content">
												<span style="font-weight: 700"><%= proposal.subject %></span>
												<span>Proposal from: <%= proposal.start_date.strftime("%d-%m-%Y") %></span>
												<span>Expiry date: <%= proposal.end_date.strftime("%d-%m-%Y") %></span>
											</div>
										</li>
										<% end -%>
									<% end -%>
								</ul>
							</div>
						</li>
						<% if @invoices.any? %>
							<li class="dashboard-general-column-sec">
								<div class="dashboard-general-column-title">
									<span style="font-size: 22px;font-weight: 400;">Invoices</span>
									<span style="font-size:11px;margin-left: 5px">Lastest 3</span>
								</div>
								<div>
									<ul style="padding: 0;">
										<% @invoices.each do |invoice| %>
											<li class="dashboard-general-column-item">
												<div class="dashboard-general-column-item-date">
													<span style="font-weight:600; font-size: 27px;"><%= invoice.created_at.strftime("%d") %></span>
													<span><%= invoice.created_at.strftime("%a") %></span>
												</div>
												<div class="dashboard-general-item-content">
													<span style="font-weight: 700"><%= invoice.subject %></span>
													<span>Inoice created at: <%= invoice.created_at.strftime("%d-%m-%Y") %></span>
													<span>Total amount: <%= number_to_currency(invoice.total, :unit => "", :separator => ",", :delimiter => ".") %></span>
												</div>
											</li>
										<% end -%>
									</ul>
								</div>
							</li>
						<% end -%>
						<% end -%>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
