<span><b>Name:</b> <%= @lead.name %></span>
<span><b>Address:</b> <%= @lead.detail_address %></span>
<span><b>City:</b> <%= @lead.city %></span>
<span><b>Email:</b> <%= @lead.email %></span>
<span><b>Phone:</b> <%= @lead.phone %></span>
