<%= content_for(:sidebar) do %>
	<%= render :partial => "layouts/sidebar" %>
<% end -%>
<div class="col-md-10 main">
	<div class="list-lead-main">
		<div class="lead-bo">
			<br><h3 style="margin-left: 30px;display: inline;">Manage Customers </h3>
			<%= link_to new_customer_path do %>
				<button style="float:right;margin-right: 30px ;" type="button" class="btn btn-success btn-sm">
					<i class="fas fa-plus"></i> Add New Customer
				</button>
			<% end -%>
			<div class="border-x"></div>
			<select style="float:right;margin-right: 30px; width: auto;" class="form-select" aria-label="Default select example">
			  <option selected disabled="">Oldest Company</option>
			  <option value="1">Company1</option>
			  <option value="2">Company2</option>
			</select>
			<div>
				<center>
					<table>
					  <tr>
					    <th>Customers
					    	<span style="float:right;margin-right: 30px;">
					    		<div class="input-group">
						    		<input  type="text" id="" placeholder="search">
						    		<button class="btn btn-success btn-sm" type="button"><i class="fa fa-search"></i></button>
						    	</div>
					    	</span>
					    </th>
					  </tr>
					  <% @customers.each do |customer|%>
						  <tr>
						    <td>
						    	<%= customer.name %><br>
						    	<%= customer.phone %><br>
						    	<%= customer.detail_address %><br>
						    	<span>
						    		<div class="btn-mini">
						    			<%= link_to customer_path(customer.id) do %>
						    				<button type="button" class="btn btn-secondary btn-sm btn-success"><i class="fas fa-eye"></i> View Details</button>
							    		<% end -%>
							    		<button type="button" class="btn btn-secondary btn-sm btn-warning"><i class="fas fa-pencil-alt"></i> Edit</button>
							    		<%= link_to delete_customer_path(customer.id), method: :delete do %>
							    			<button type="button" class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Delete</button>
						    			<% end -%>
						    		</div>	
						    	</span>
						  	</td>
						  </tr>
					  <% end -%>
					</table>
				</center>
			</div>
		</div>
	</div>
</div>
