<%= content_for(:sidebar) do %>
<%= render partial: "layouts/sidebar", locals: {account: current_account, tab: "customer"} %>
<% end -%>
<div class="col-md-10 main">
	<div class="lead-p-main">
		<div class="lead-p-left">
			<div class="lead-bo">
				<div class="lead-p-center">
					<h3><b><%= @customer.name %></b></h3>
					<center><img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" class="img-thumbnail"></center>
					<p><i class="fas fa-phone-alt"></i> Phone: <b><%= @customer.phone %></b></p>
					<p><i class="fas fa-briefcase"></i> Email: <b><%= @customer.email %></b></p>
					<div class="border-x"></div>
					<div class="d-grid gap-1">
						<center>
							<%= link_to customer_path(@customer.id) do %>
								<button class="btn btn-secondary active" type="button"><i class="fas fa-user"></i> Profile</button></center>
							<% end -%>
						<center>
							<%= link_to contact_lead_path(@customer.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-briefcase"></i> Contacts</button>
							<% end -%>
						</center>
						<center>
							<%= link_to call_lead_path(@customer.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-phone-alt"></i> Calls</button>
							<% end -%>
						</center>
						<center>
							<%= link_to appointment_lead_path(@customer.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-car"></i> Apointments</button>
							<% end -%>
						</center>
						<center>
							<%= link_to note_lead_path(@customer.id) do %>
								<button class="btn btn-secondary" type="button"><i class="fas fa-sticky-note"></i> Notes</button>
							<% end -%>
						</center>
						<% if @customer.customer_role_id == 2 %>
							<center>
								<%= link_to proposal_lead_path(@customer.id) do %>
									<button class="btn btn-secondary" type="button"><i class="fas fa-file-signature"></i> Proposals</button>
								<% end -%>
								<%= link_to invoice_lead_path(@customer.id) do %>
									<button class="btn btn-secondary" type="button"><i class="fas fa-file-invoice"></i> Invoices</button>
								<% end -%>
							</center>
						<% end -%>
					</div>

				</div>
			</div>
		</div>
		<div class="lead-p-right">
			<div class="lead-bo-p">
				<div class="lead-p-center">
					<h2><%= @customer.name %>'s Profile</h2>
					<div class="border-x"></div>
					<div class="table-f-bo">
						<table style="width:100%">
							<tr>
								<td style="width:20%">Name: </td>
								<td><%= @customer.name %></td>
							</tr>
							<tr>
								<td>Phone: </td>
								<td><%= @customer.phone %></td>
							</tr>
							<tr>
								<td>Email: </td>
								<td><%= @customer.email %></td>
							</tr>
							<tr>
								<td>Website:</td>
								<td><%= @customer.website %></td>
							</tr>
							<tr>
								<td>Street: </td>
								<td><%= @customer.detail_address %></td>
							</tr>
							<tr>
								<td>City: </td>
								<td><%= @customer.city %></td>
							</tr>
							<tr>
								<td>Country:</td>
								<td><%= @customer.city %></td>
							</tr>
							<tr>
								<td>Source:</td>
								<td><%= @customer.source %></td>
							</tr>
							<tr>
								<td>Assign To:</td>
								<td><%= @staff_acc.name %></td>
							</tr>
							<tr>
								<td>Comment:</td>
								<td><%= @customer.note %></td>
							</tr>
							<tr>
								<td>Status:</td>
								<td><%= @customer.status %></td>
							</tr>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
