<%= content_for(:sidebar) do %>
<%= render partial: "layouts/sidebar", locals: {account: current_account} %>
<% end -%>
<div class="col-md-10 main">
	<div class="list-lead-main">
		<div class="lead-bo">			
			<br><h3 style="margin-left: 30px;display: inline;">Manage Proposals</h3>
			<%= link_to new2_proposal_path do %>
				<button style="float:right;margin-right: 30px ;" type="button" class="btn btn-success btn-sm"><i class="fas fa-plus"></i>Add New Proposal</button>
			<% end -%>
			<div class="border-x"></div>
			<div style="float:right;margin-right: 30px; width: auto;border: 1px solid black;">
	  			<%= sort_link(@q, :subject) do %>
			  		<strong style="color:black;margin: 10px; ">Sort by subject</strong>
				<% end %>
			</div>
			<div>
				<center>
					<table>
						<tr>
							<th>
								<%= sort_link(@q, :created_at) do %>
					  				<strong style="color:white;"> Proposals</strong>
								<% end %>
								<span style="float:right;margin-right: 30px;">
									<div class="form-inline my-2 my-lg-0">
						    		  <%= search_form_for @q, url: proposals_path do |f| %>
									    <%= f.search_field :subject_cont, placeholder: "Subject ...", class:"search-field form-control"%>
									    <%= f.submit "Search", class: "btn btn-search" %>
									  <% end -%>
						    		</div>
								</span>
							</th>
						</tr>
						<% @proposals.each do |proposal| %>
							<tr>
								<td>
									<%= proposal.subject %><br>
									Proposal ID: <%= proposal.id %><br>
									Customer: <%= proposal.get_customer %><br>
									Date From: <%= proposal.start_date.strftime('%d-%m-%Y') %> - Till: <%= proposal.end_date.strftime('%d-%m-%Y') %><br>
									Total: <%= proposal.total %>$<br>
									Status: <%= proposal.status %><br>
									Created at: <%= proposal.created_at.strftime('%d-%m-%Y') %><br>
								<span>
									<div class="btn-mini">
										<%= link_to show_lead_proposal_path(proposal.customer_id, proposal.id) do %>
												<button type="button" class="btn btn-success btn-sm"><i class="fas fa-eye"></i> View Details</button>
											<% end -%>
											<%= link_to edit_lead_proposal_path(proposal.customer_id, proposal.id) do %>
												<button type="button" class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i> Edit</button>
											<% end -%>
											<%= link_to destroy_proposal_path(proposal.customer_id, proposal.id), 
														method: :delete, data:{confirm:'Delete this proposal?'} do %>
												<button type="button" class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Delete</button>
											<% end -%>
									</div>	
								</span>
							</td>
						</tr>
						<% end -%>
					</table>
				</center>
			</div>
		</div>
	</div>
</div>