<%= content_for(:sidebar) do %>
<%= render partial: "layouts/sidebar", locals: {account: current_account} %>
<% end -%>
<div class="col-md-10 main">
	<div class="cata-main">
		<div class="cata-bo">
			<h4 style="margin-left: 30px;margin-top: 20px;">Update Category</h4>
			<div class="cata-border-add-x"></div>
			
				<%= form_with(model: @category) do |f| %>
					<center >
						<div style="width:70%;" class="input-group mb-3">
							<span style="margin-right: 10px;">Name</span>
					     <%= f.text_field :name, class:"form-control", placeholder: "Name" %>
						</div>
					</center>
					<div style="padding-top: 8px;"></div>
					<div class="cata-border-add-x"></div>
					<div style="padding-left: 5%; padding-bottom: 20px;">
					<%= f.submit "Save", class: "btn btn-success btn-sm", style:"width: 50px" %>
				<% end %>
				
				<%= link_to categories_path do %>	
				<button type="button" class="btn btn-secondary btn-sm"> Close</button>	
				<% end -%>	
			</div>
		</div>
	</div>
</div>
