<%= content_for(:sidebar) do %>
<%= render partial: "layouts/sidebar", locals: {account: current_account} %>
<% end -%>
<div class="col-md-10 main">
	<div class="cata-main">
		<div class="cata-bo">
			
			<br><h3 style="margin-left: 30px;display: inline;">Category</h3>
			<%= link_to new_category_path do %>
				<button style="float:right;margin-right: 30px ;" type="button" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Add Category</button>
			<% end -%>
			<div class="cata-border-x"></div>
			<span style="float:right;margin-right: 30px;">
	    		<div class="form-inline my-2 my-lg-0">
		    		  <%= search_form_for @q, url: categories_path do |f| %>
					    <%= f.search_field :name_cont, placeholder: "Category Name ...", class:"search-field form-control"%>
					    <%= f.submit "Search", class: "btn btn-search" %>
					  <% end -%>
		    	</div>
			</span>
			<div>
				<center>
					<div class="table-c-bo"><table>
						<tr>
							<th style="width: 60px;">
								<%= sort_link(@q, :id) do %>
  								<strong style="color:white;"> ID</strong>
								<% end %>
							</th>
							<th>
								<%= sort_link(@q, :name) do %>
					  			<strong style="color:white;"> Name</strong>
								<% end %>
							</th>
							<th style="width:250px">Created at</th>
							<th style="width: 200px;">Action</th>
						</tr>
						<% @categories.each do |category| %>
						<tr>
							<td><%= category.id %> </td>
							<td><%= category.name %></td>
							<td><%= category.created_at.strftime("%d-%m-%Y") %></td>
							<td>
								<span>
									<div class="btn-mini">
										<%= link_to edit_category_path(category) do %>
											<button type="button" class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i> Edit</button>
										<% end -%>
										<%= link_to category, method: :delete, data: { confirm: 'Are you sure?' } do %>
											<button type="button" class="btn btn-danger btn-sm"><i class="fas fa-times"></i> Delete</button>
										<% end %>
									</div>	
								</span>
							</td>
						</tr>
						<% end -%>
					</table></div>

				</center>

			</div>

		</div>
	</div>
</div>