<%= content_for(:sidebar) do %>
<%= render partial: "layouts/sidebar", locals: {account: current_account} %>
<% end -%>
<div class="col-md-10 main">
	<div class="cata-main">
		<div class="cata-bo">
			<h4 style="margin-left: 30px;margin-top: 20px;">Add Product</h4>
			<div class="cata-border-add-x"></div>			
		
				<%= form_with(model: @item, url: new_product_path )  do |form| %>
					<div class="width-add-p ">

						<%= form.label :category, "Category*" %>
						<select class="form-select" style="height: 30px;" id="category_select">
							<% @categories.each do |category| %>
								<option value="<%= category.id %>"><%= category.name %></option>
							<% end -%>
						</select>
						<%= form.hidden_field :category_id, id:"f_category_id" %><br><br>

						<div class="form-group">
							<%= form.label :name, "Name*" %>
							<%= form.text_field :name, class:"form-control", placeholder: "Name"%>
						</div>
					
						<div class="form-group">
							<%= form.label :designation, "Description" %>
							<%= form.text_field :designation, class:"form-control", placeholder: "Description"%>
						</div>
						<div class="form-group">
							<%= form.label :price, "Price*" %>
							<%= form.number_field :price, min: 1000, class:"form-control", placeholder: "Price"%>
						</div>

						
						<div class="form-group">
							<%= form.label :tax, "Tax" %>
							<select class="form-select" style="height: 30px;" id="tax_select">
								<% @taxes.each do |tax| %>
									<option value="<%= tax.id %>"><%= tax.name %></option>
								<% end -%>
							</select>
							<%= form.hidden_field :tax_id, id:"f_tax_id" %>
						</div>

						<div class="select-20">
							<%= form.label :status, "Status" %>
							<%= form.select :status, options_for_select([['Active', true], ['Inactive', false]])%>
						</div>

					</div>
					<div style="padding-top: 8px;"></div>
					<div class="cata-border-add-x"></div>
					<div style="padding-left: 5%; padding-bottom: 20px;">
					<%= form.submit "Save", class: "btn btn-success btn-sm", style:"width: 50px" , id:"btnSave"%>
				<% end -%>

				<%= link_to products_path do %>	
					<button type="button" class="btn btn-secondary btn-sm"> Back</button>	
				<% end %>			
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var c = $('#category_select').find(":selected").val();
	$("#f_category_id").val(c);
	$('#category_select').on('change', function() {
	  $("#f_category_id").val(this.value);
	});
	$('#tax_select').on('change', function() {
	  $("#f_tax_id").val(this.value);
	});
	$('#btnSave').click(function(){
    if ($("#item_name").val() != '' && $("#item_price").val() == ''){
    		alert('please fill up the price greater than 0!');
    }
    else if($("#item_name").val() == '' && $("#item_price").val() == '') {
    		alert('Please fill up the form!');
    }
	});
</script>
