<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
		<li><%= link_to "Dashboard", root_path %></li>
		<li>
			<a class="leads_btn">Leads <span class="fas fa-caret-down"></span></a>
			<ul class="leads_item">
			    <li>
			        <%= link_to 'Manage Leads', leads_path %>
			    </li>
			    <li>
			        <a href="#">Success Leads</a>
			    </li>
			    <li>
			        <a href="#">Recycle Bin</a>
			    </li>
			</ul>
	  </li>
	  <li>
			<a class="customer_btn">Customers <span class="fas fa-caret-down"></span></a>
			<ul class="customer_item">
			    <li>
			    	<%= link_to 'Manage Customers', customers_path %>
			    </li>
			    <li>
			        <a href="#">Recycle Bin</a>
			    </li>
			</ul>
	  </li>
	  <li>
			<a class="catalog_btn">Catalogs <span class="fas fa-caret-down"></span></a>
			<ul class="catalog_item">
			    <li>
		    		<%= link_to 'Products', products_path %>
			    </li>
			    <li>
			    	<%= link_to 'Category', categories_path %>
			    </li>
			</ul>
	  </li>
	  <li>
			<a class="sale_btn">Sales <span class="fas fa-caret-down"></span></a>
			<ul class="sale_item">
			    <li>
			        <%= link_to 'Proposals', proposals_path %>
			    </li>
			    <li>
			        <%= link_to 'Estimates', estimates_path %>
			    </li>
			    <li>
			        <%= link_to 'Invoices', invoices_path %>
			    </li>
			    <li>
			        <%= link_to 'Taxes', taxes_path %>
			    </li>
			</ul>
	  </li>
	  <li>
			<a class="staff_btn">Staff <span class="fas fa-caret-down"></span></a>
			<ul class="staff_item">
			    <li>
			    	<%= link_to 'Add Staff', new_staff_path %>

			    </li>
			    <li>
			    	<%= link_to 'Manage Staff', staffs_path %>
			    </li>
			</ul>
	  </li>
	  <li>
			<a class="report_btn">Report <span class="fas fa-caret-down"></span></a>
			<ul class="report_item">
			    <li>
			    	<%= link_to 'Proposals Report', reports_proposals_path %>
			    </li>
			    <li>
			        <%= link_to 'Estimates Report', reports_estimates_path %>
			    </li>
			    <li>
			        <%= link_to 'Invoices Report', reports_invoices_path %>
			    </li>
			</ul>
	  </li>
	</ul>
</div>
<script>
	$('.leads_btn').click(function(){
		$('.nav .leads_item').toggleClass("show");
	});
	$('.customer_btn').click(function(){
		$('.nav .customer_item').toggleClass("show");
	});
	$('.catalog_btn').click(function(){
		$('.nav .catalog_item').toggleClass("show");
	});
	$('.sale_btn').click(function(){
		$('.nav .sale_item').toggleClass("show");
	});
	$('.staff_btn').click(function(){
		$('.nav .staff_item').toggleClass("show");
	});
	$('.report_btn').click(function(){
		$('.nav .report_item').toggleClass("show");
	});
</script>
