<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
		<% if account.get_designation == 'Manager'%>
			<li><%= link_to "Dashboard", root_path, class:"sidebar_button dashboard_link" %></li>
		<% end -%>
		<% if account.get_designation == 'Manager' || account.get_designation == 'Customer Officer' %>
			<li>
				<a class="leads_btn">Leads <span class="fas fa-caret-down"></span></a>
				<ul class="leads_item">
				    <li>
				        <%= link_to 'Manage Leads', leads_path, class:"sidebar_button" %>
				    </li>
				    <li>
				        <a href="#">Recycle Bin</a>
				    </li>
				</ul>
		  </li>
		  <li>
				<a class="customer_btn">Customers <span class="fas fa-caret-down"></span></a>
				<ul class="customer_item">
				    <li>
				    	<%= link_to 'Manage Customers', customers_path, class:"sidebar_button" %>
				    </li>
				    <li>
				        <a href="#">Recycle Bin</a>
				    </li>
				</ul>
		  </li>
	  <% end -%>
	  <% if account.get_designation == 'Manager' || account.get_designation == 'Seller' %>
	  <li>
			<a class="catalog_btn">Catalogs <span class="fas fa-caret-down"></span></a>
			<ul class="catalog_item">
			    <li>
		    		<%= link_to 'Products', products_path, class:"sidebar_button" %>
			    </li>
			    <li>
			    	<%= link_to 'Category', categories_path, class:"sidebar_button" %>
			    </li>
			</ul>
	  </li>
	  <li>
			<a class="sale_btn">Sales <span class="fas fa-caret-down"></span></a>
			<ul class="sale_item">
			    <li>
			        <%= link_to 'Proposals', proposals_path, class:"sidebar_button" %>
			    </li>
			    <li>
			        <%= link_to 'Invoices', invoices_path, class:"sidebar_button" %>
			    </li>
			    <li>
			        <%= link_to 'Taxes', taxes_path, class:"sidebar_button" %>
			    </li>
			</ul>
	  </li>
	  <% end -%>
	  <% if account.get_designation == 'Manager'%>
	  <li>
			<a class="staff_btn">Staff <span class="fas fa-caret-down"></span></a>
			<ul class="staff_item">
			    <li>
			    	<%= link_to 'Add Staff', new_staff_path, class:"sidebar_button" %>

			    </li>
			    <li>
			    	<%= link_to 'Manage Staff', staffs_path, class:"sidebar_button" %>
			    </li>
			</ul>
	  </li>
	  <% end -%>
	  <% if account.get_designation == 'Manager' || account.get_designation == 'Seller' %>
	  <li>
			<a class="report_btn">Report <span class="fas fa-caret-down"></span></a>
			<ul class="report_item">
			    <li>
			    	<%= link_to 'Proposals Report', reports_proposals_path, class:"sidebar_button" %>
			    </li>
			    <li>
			        <%= link_to 'Invoices Report', reports_invoices_path, class:"sidebar_button" %>
			    </li>
			</ul>
	  </li>
	  <% end -%>
	</ul>
</div>
<span id="tab_name" style="display: none;" data-tab="<%= tab %>"></span>
<script>
	$('.leads_btn').click(function(){
		$('.nav .leads_item').toggleClass("show");
	});
	$('.customer_btn').click(function(){
		$('.nav .customer_item').toggleClass("show");
	});
	$('.catalog_btn').click(function(){
		$('.nav .catalog_item').toggleClass("show");
	});
	$('.sale_btn').click(function(){
		$('.nav .sale_item').toggleClass("show");
	});
	$('.staff_btn').click(function(){
		$('.nav .staff_item').toggleClass("show");
	});
	$('.report_btn').click(function(){
		$('.nav .report_item').toggleClass("show");
	});
	$( document ).ready(function() {
	  let tab_name = $("#tab_name").data("tab");
	  switch(tab_name) {
		  case 'home':
		    $('.dashboard_link').addClass('active');
		    break;
		  case 'lead':
		    $('.leads_btn').addClass('active');
		    break;
	    case 'customer':
		    $('.customer_btn').addClass('active');
		    break;
	    case 'catalog':
		    $('.catalog_btn').addClass('active');
		    break;
	    case 'sale':
		    $('.sale_btn').addClass('active');
		    break;
	    case 'staff':
		    $('.staff_btn').addClass('active');
		    break;
	    case 'report':
		    $('.report_btn').addClass('active');
		    break;
		}
	});
</script>
